.login {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* height: 81.6vh; */
}

.google-login-btn {
  margin: 3%;
  height: 55px;
  border-radius: 25px;
  width: 275px;

  text-align: center;
}
.google-logo {
  height: 35px;
  margin-right: 13%;
}
