/* @import url('https://fonts.googleapis.com/css2?family=Assistant:wght@600&display=swap');
body {
margin: 0; line-height: normal;
} */

.div {
position: relative;
font-size: 64px;
font-weight: 600;
font-family: Assistant;
color: #000;
text-align: center;
display: inline-block;
width: 815px;
height: 28px;
}