.cancelBtn {
  font-size: 100%;
  cursor: pointer;
  position: absolute;
  bottom: 1px;
  left: 1px;
  padding: 10px;
  z-index: 1;
  /* font-weight: 600; */
}
.div-container {
  
  padding: 2% 4% 2% 4%;
  position: relative;
  border: 1px solid #bcbcbc;
  border-radius: 5px;
}
.submitBtn {
  margin-top: 10px;
  background-color: #00b3bf !important;
  border: none !important;
}
.background-color-my-gray {
  background-color: #f5f5f5;
  /* background-color: #022855; */
}
.name-group {
  margin-bottom: 3px;
}