.three-dots{
    /* padding:  0 2000px 20px 0; */
    border: none;
  /* 
    height: 1vw;
    width: 2.5vw; */
  }
  .three-dots-btn{
    margin-right:  85%;
    border: none;
  }
  .about{
    margin-top: 10px;
    border-bottom: 2px solid #ecebeb;
    border-top: 2px solid #ecebeb;

  }
  .bin-img{
    margin-top: 25%;
    margin-bottom: 25%;
    border: none;
  }