* {
  text-align: right;
  line-height: 1.5;
  font-weight: 500;
  /* font-family: "Assistant", Arial, Helvetica, sans-serif; */
  background-color: #fffefe;
  /* background-color: #022855; */
  /* background-color: rgb(197, 195, 195); */
}
